body{
    background-image: url(https://img.freepik.com/fotos-premium/patron-marmol-natural-fondo_1258-22159.jpg);
   
}

.text{
    color: aliceblue;
    text-align: center;
}

p{
    color: aliceblue;
    text-align: center;
}